{% extends 'rango/base.html' %}
{% load staticfiles %}
	
	{% block title_block %}
		About Rango
	{% endblock %}


	{% block body_block %}
		<h1>Rango says...</h1>

		<div>
			Here is the about page.<br />
		</div>

		<div>
			<p>This tutorial has been put together by 2461474G</p>
		</div>
		
		<div>
			Visits: {{visits}}
		</div>

		<div>
			<img src="{% static 'images/rango.jpg' %}"
			alt="Picture of Rango" /> 
			<img src="{{ MEDIA_URL }}cat.jpg" 
			alt="Picture of a Cat."/>
		</div>
	{% endblock %}